body,h1,h2,h3,h4,h5,h6 {font-family: "Papyrus"}
        .w3-bar-block .w3-bar-item {padding:20px}
        
        .heading {
          font-style: bold;
          font-size: 35px;
        }
        
        .headline {
          padding-left: 50px;
          padding-right:100px;
          font-style: bold;
          font-family: "Anton";
          line-height: 1.2;
          font-size:60px; 
        }
        
        @media screen and (max-width: 1189px) {
          .headline {
            font-size: 5vw;
          }
        }
        
        
        /*
        .subtitle {
          font-size: 12px;
          font-family:Verdana, Geneva, Tahoma, sans-serif;
          padding-left: 100px;
          padding-right:100px;
        }
        */
        
        /* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
          @media screen and (min-width: 601px) {
          .subtitle {
            font-size: 24px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            padding-left: 50px;
            padding-right:100px;
          }
        }
        
        /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
        @media screen and (max-width: 600px) {
          .subtitle {
            font-size: 16px;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            padding-left: 50px;
            padding-right:100px;
          }
        }
        
        .space{
          padding-bottom: 75px;
        }
        
        .space2{
          padding-bottom: 150px;
        }
        
        .space3{
          padding-bottom: 80px;
        }

        .size {
          font-size: 35px;
        }
        
        .navbar{
          background-color: rgb(6, 214, 160);
          z-index: 10000;
           position: fixed;
           top: 0px;
           width: 100%;
        }

ul {
  padding-left: 5em;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: rgb(252, 119, 83);
}

a:hover {
  text-decoration: none;
  color:rgb(6, 214, 160);
}

a:active {
  text-decoration: none;
}

.topic{
  font-size: 30px;
  font-family: "Anton";
  padding-left: 50px;
  padding-right:50px;
}

.space4{
  padding-top: 1em;
}

@media screen and (min-width: 601px) {
  .list {
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .list {
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
}